/* Add CSS here */
p {
  font-family: "Montserrat";
}
body,
html {
  background-color: #e7e8f8;
}
.div-container {
  position: relative;
  box-shadow: 1px 5px 15px #cfd1eb;
}
.container {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: auto;
  padding: 10px;
  border-radius: 10px;
}
.minimize {
  position: absolute;
  top: -6%;
  right: 0;
  display: block;
  padding: 3px 15px 20px 15px;
  border-radius: 10px;
  background-color: white;
  font-size: 15px;
  margin-bottom: 20px;
  letter-spacing: -1px;
  font-weight: 400;
}
.title-container {
  font-size: 20px;
  font-weight: 700;
  width: 300px;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
}
.button-container {
  background-color: #fafafe;
  padding: 6px 5px;
  margin: 15px;
  border-radius: 5px;
  border: solid 1px #dadcf2;
  font-size: 14px;
  color: #121b22;
  font-weight: 500;
}
.button-container:hover {
  background-color: #656eff;
  color: white;
}
.button-container:active {
  background-color: #656eff;
  color: white;
  box-shadow: 0 9px 10px rgba(101, 110, 255, 0.2);
}
.button {
  display: block;
  padding: 12px 35px 12px 20px;
}

.submit-button {
  font-size: 13px;
  font-weight: 600;
  color: #656eff;
  margin: 0 auto;
  padding: 25px 0;
}
